.pokemonList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    
  }

.pokemonList a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.pokemonList a:hover,
.pokemonList a:focus{
    color: black;
}


@media (min-width: 1000px) {
    .pokemonList{
        flex-direction: row;
    }
}